#mLinkedinApplyUI #mLinkedInCount {
  margin-top: 10px;
  font-size: 12px;
  color: gray;
}

/* Styles for the custom extension UI */
#mLinkedinApplyUI {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #0a66c2;
  z-index: 10000;
  border-radius: 3px;
  overflow: auto;
}

#mLinkedinApplyUI h3 {
  margin: 0;
  font-size: 18px;
  background-color: #0a66c2;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

#mLinkedInBody {
  padding: 10px;
}

#mLinkedInStatus {
  text-align: center;
  font-weight: bold;
}

#mLinkedinApplyUI button {
  display: block;
  width: 100%;
  margin: 10px 0;
  font-size: 15px;
  padding: 10px 5px;
  background-color: #0a66c2;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

#mLinkedinApplyUI th {
  text-align: right;
}
#mLinkedinApplyUI td {
  color: #000000;
}

#manual-next-button {
  margin: 0 10px;
  background-color: #0073b1; /* LinkedIn blue */
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

#manual-next-button:hover {
  background-color: #005582; /* Darker blue for hover effect */
}

#manual-next-button + button {
  display: none;
}

.show-reason {
  color: red !important;
  text-decoration: line-through;
}

.applied-reason {
  color: green !important;
  text-decoration: line-through;
}

.answered {
  color: green !important;
}
